<h1>
  {{title}}
</h1>

<h2>Containers</h2>

<h3>Default</h3>
<div bsContainer>
  ...
</div>

<h3>Fluid</h3>
<div bsContainer="fluid">
  ...
</div>

<h2>Grid System</h2>

<h3>Stacked to horizontal</h3>
<div bsContainer>
  <div bsGridRow>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
  </div>
  <div bsGridRow>
    <div bsGridColMd="8">.col-md-8</div>
    <div bsGridColMd="4">.col-md-4</div>
  </div>
  <div bsGridRow>
    <div bsGridColMd="4">.col-md-4</div>
    <div bsGridColMd="4">.col-md-4</div>
    <div bsGridColMd="4">.col-md-4</div>
  </div>
  <div bsGridRow>
    <div bsGridColMd="6">.col-md-6</div>
    <div bsGridColMd="6">.col-md-6</div>
  </div>
</div>

<h3>Fluid container</h3>
<div bsContainer="fluid">
  <div bsGridRow>
    ...
  </div>
</div>

<h3>Mobile and desktop</h3>
<div bsContainer>
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div bsGridRow>
    <div bsGridColXs="12" bsGridColMd="8">.col-xs-12 .col-md-8</div>
    <div bsGridColXs="6" bsGridColMd="4">.col-xs-6 .col-md-4</div>
  </div>

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div bsGridRow>
    <div bsGridColXs="6" bsGridColMd="4">.col-xs-6 .col-md-4</div>
    <div bsGridColXs="6" bsGridColMd="4">.col-xs-6 .col-md-4</div>
    <div bsGridColXs="6" bsGridColMd="4">.col-xs-6 .col-md-4</div>
  </div>

  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div bsGridRow>
    <div bsGridColXs="6">.col-xs-6</div>
    <div bsGridColXs="6">.col-xs-6</div>
  </div>
</div>

<h3>Mobile, tablet, desktop</h3>
<div bsContainer>
  <div bsGridRow>
    <div bsGridColXs="12" bsGridColSm="6" bsGridColMd="8">.col-xs-12 .col-sm-6 .col-md-8</div>
    <div bsGridColXs="6" bsGridColMd="4">.col-xs-6 .col-md-4</div>
  </div>
  <div bsGridRow>
    <div bsGridColXs="6" bsGridColMd="4">.col-xs-6 .col-sm-4</div>
    <div bsGridColXs="6" bsGridColMd="4">.col-xs-6 .col-sm-4</div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div bsGridClearfix class="visible-xs-block"></div>
    <div bsGridColXs="6" bsGridColMd="4">.col-xs-6 .col-sm-4</div>
  </div>
</div>
