<h1>
  {{title}}
</h1>

<h2>Containers</h2>

<h3>Default</h3>
<div bsContainer>
  ...
</div>

<h3>Fluid</h3>
<div bsContainer="fluid">
  ...
</div>

<h2>Grid System</h2>

<h3>Stacked to horizontal</h3>
<div bsContainer>
  <div bsGridRow>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
    <div bsGridColMd="1">.col-md-1</div>
  </div>
  <div bsGridRow>
    <div bsGridColMd="8">.col-md-8</div>
    <div bsGridColMd="4">.col-md-4</div>
  </div>
  <div bsGridRow>
    <div bsGridColMd="4">.col-md-4</div>
    <div bsGridColMd="4">.col-md-4</div>
    <div bsGridColMd="4">.col-md-4</div>
  </div>
  <div bsGridRow>
    <div bsGridColMd="6">.col-md-6</div>
    <div bsGridColMd="6">.col-md-6</div>
  </div>
</div>
